<!DOCTYPE html>
<html lang="en">

<%- include('template/header'); %>

<body>


  <div class="container">

    <div class="row">

      <div class="col-12 lead">
        <h1>
          <%=title %>
        </h1>
        <p>Simple Kindle Vocabulary DB Extractor.</p>
      </div>

      <div class="col-12">
        <h3>Upload</h3>
        <p>Upload the <code>vocab.db</code> file</p>

        <form enctype="multipart/form-data" id="idFormUpload">
          <div class="row">
            <div class="col-9">
              <label class="btn btn-outline-secondary btn-lg btn-block" for="file-selector">
                <input id="file-selector" type="file" accept=".db" name="dbfile" style="display:none;">
                <i class="fas fa-cloud-upload-alt"></i> Choose File
              </label>
            </div>

            <div class="col-3">
              <input type="submit" class="btn btn-outline-secondary btn-lg" id="idUpload">
            </div>
          </div>
        </form>
      </div>

      <!-- Showing Book Details -->
      <div class="col-12 d-none" id="bookDetail">
        <h3>List of Books</h3>
        <p>Here's the list of all books availbe in the file you have uploaded.</p>

        <table class="table table-striped table-sm" id="bookTable">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Title</th>
              <th scope="col">Author</th>
            </tr>
          </thead>
          <tbody>
            <!-- to be filled by js -->
          </tbody>
        </table>
      </div>
    </div>

    <!-- Make an Ajax Call to get Book Inforamtion -->
    <script src="./ajax/getBooks.js"></script>

  </div>

  <%- include('template/footer'); %>
</body>

</html>