<!DOCTYPE html>
<html lang="en">

<%- include('template/header'); %>

<body>
  <main role="main" class="container">
    <h1 class="mt-5">
      <%=title %>
    </h1>
    <p class="lead">Simple Kindle Vocabulary DB Extractor.</p>

    <hr>

    <h3 class="mt-5">Upload</h1>
      <p>Upload the <code>vocab.db</code> file</p>

      <form action="/upload" method="POST" enctype="multipart/form-data">
        <label class="btn btn-outline-secondary btn-lg btn-block" for="file-selector">
          <input id="file-selector" type="file" name="dbfile" style="display:none;">
          <i class="fas fa-cloud-upload-alt"></i> Choose File
        </label>
        <input type="submit" class="btn btn-outline-secondary" id="file-selector">
      </form>
    
  </main>

  <%- include('template/footer'); %>
</body>

</html>