<footer class="footer">
    <div class="container">
        <a href="https://github.com/yar00001/KindleExtractor" class="githubfooter"><i class="fab fa-github"></i> + check it on github </a>
    </div>
</footer>